# Editor Directories

.idea
.vscode

# Build Output
node_modules/
dist/

# System Files
Thumbs.db
.DS_Store

*.log

# Environment Files

.env
!.env.example
google_service_account.json
*accessKey.csv

# Acrhives

*.7z
*.ace
*.dmg
*.iso
*.rar
*.tar.gz
*.zip

# Claude

.claude/settings.local.json